*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration:none;
  font-family:'Roboto Condensed', Courier, monospace;
  box-sizing: border-box;
  text-align: center;
}



.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5%;
  border-bottom: 2px solid skyblue;
  background-color:black;
}

.navbar h1{
  color:white;
}

.nav-left{
  display: flex;
  align-items: center;
}

.nav-links{
  padding: 30px;
}

.nav-links a{
  padding: 10px;
  color: white;
}

.cart-icon-section{
  position:relative;
  cursor: pointer;
  font-size: 3rem;
}

.cart-icon-section p{
  position:absolute;
  top: -5px;
  right: 0;
  font-size: 0.9rem;
  z-index: 1;
  background-color: deepskyblue;
  color:white;
  padding: 3px 5px;
  border-radius: 20%;
}


.cart-icon-section i{
  color:white;
  display:block;
  font-size: 2.5rem;
}



.section{
  background-color: #2c2a2a;
  height: 100vh;
}

.section h1{
  color:white;
}

#products{
  padding: 2%;
  width: 80%;
  margin: auto;
}

.productsContainer{
  width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.product{
  margin: 2%;
  width: 20%;
  box-shadow: 3px 3px 3px 3px rgba(135,206,235,0.4);
  background-color:white;
  border-radius:  10px;
}

.product-img{
  width: 90%;
  height: 15em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1em;
}

.product-text{
  display:flex; 
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.product-text-left{
  text-align:left;
}

.product-text-left h1{
  font-size:1em;
  text-align:left;
  color:black;
}

.add-cart{
  border:none;
  padding: 5px;
  color:black;
}

.add-cart:hover{
  transition: all 0.2s linear;
  background-color: gray;
  color:white;
}

.cart-modal{
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
  transform: scale(0);
  z-index: 9999;
}

.cart-modal.active{
  transform: scale(1);
}

.cart{
  position:relative;
  height: 50%;
  width: 80%;
  background: white;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.cart-header p{
  cursor: pointer;
}

.cart-header h1{
  color: navy;
}

#cart-modal-close{
  position: absolute;
  right: 0;
  top: 0;
  background-color: navy;
  color:white;
  padding: 1em;
}

#cart-modal-close:hover{
  cursor:pointer;
}



